<div class="container">
  <div class="row">
    <div class="col-xs-7">
      <h2>予約完了</h2>
        <br>
          <div>
            <p>所属 : <%= @reservation.group %></p>
          </div>
        　<div>
          　<p>利用部屋 : <%= @reservation.room_id %>
        　</div>
        　<div>
          　<p>貸出物 : <%= @reservation.lending_id %></p>
        　</div>
        　<div>
          　<p>個数 : <%= @reservation.quantity %></p>
        　</div>
        　<div>
        　 <p>利用目的 : <%= @reservation.reason %></p>
        　</div>
        　<div>
          　<p>貸出日 : <%= @reservation.start %></p>
        　</div>
        　<div>
          　<p>返却日 : <%= @reservation.finish %></p>
        　</div>

       </div>
    </div>
      <%= form_with model: @reservation, url: reservations_path, method: :post, local: true do |f| %>


                        <%= f.hidden_field :group %><br>

                        <%= f.hidden_field :room_id %><br>

                        <%= f.hidden_field :lending_id %><br>

                        <%= f.hidden_field :quantity %>

                        <%= f.hidden_field :reason %>

                        <%= f.hidden_field :start %><br>


                        <%= f.hidden_field :finish %><br>


              <%= f.submit "予約を確定する", class:"btn btn-primary" %>
             <% end %>
  </div>
</div>