<header class="shadow">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <%= link_to root_path do %><i class="fa-solid fa-check"></i>レンタル・ネットワーク<% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">

        <% if customer_signed_in? %>
        <%# if true %>
          <li class="nav-item p-1">
            <%= link_to "マイページ", customers_path %>
          </li>
          <li class="nav-item p-1">
            <%= link_to "部屋一覧", rooms_path %>
          </li>
          <li class="nav-item p-1">
　　　　　　<%= link_to "貸出物一覧", lendings_path %>
          </li>
          <li class="nav-item p-1">
　　　　　　<%= link_to "予約ページ",new_reservation_path %>
          </li>
          <li class="nav-item p-1">
            <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
            <%#= link_to "ログアウト", root_path %>
          </li>


        <% elsif admin_signed_in? %>
          <li class="nav-item p-1">
            <%= link_to "会員一覧", admin_customers_path %>
          </li>
          <li class="nav-item p-1">
            <%= link_to "予約一覧", admin_reservations_path %>
          </li>
          <li class="nav-item p-1">
             <%= link_to "部屋一覧", admin_rooms_path %>
          </li>
          <li class="nav-item p-1">
　　　　　　<%= link_to "貸出物一覧", admin_lendings_path %>
          </li>
          <li class="nav-item p-1">
            <%= link_to "ログアウト",  destroy_admin_session_path, method: :delete %>
          </li>


        <% else %>
          <li class="nav-item p-1">
          　<%= link_to "About", about_path %>
          </li>
          <li class="nav-item p-1">
　　　　　　<%= link_to "部屋一覧", rooms_path %>
          </li>
          <li class="nav-item p-1">
　　　　　　<%= link_to "貸出物一覧", lendings_path %>
          </li>
          <li class="nav-item p-1">
            <%= link_to "新規登録", new_customer_registration_path %>
          </li>
          <li class="nav-item p-1">
            <%= link_to "ログイン", new_customer_session_path %>
          </li>



        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>